/*@import "TaskInfoDisplayStyle.css";*/

QMessageBox {
background:qlineargradient(spread:pad, x1:0.976, y1:0, x2:0, y2:1, stop:0 rgba(98, 207, 255, 255), stop:1 rgba(160, 222, 255, 255));
color: #C0C0C0;
font-size: 20px;
}

QScrollBar {
background: rgba(99, 182, 219, 255);
}


QMessageBox QPushButton {
border-radius: 4px;
border: 1px solid #3082AB;
/*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(183, 222, 237, 255), stop:0.488152 rgba(113, 206, 239, 255), stop:0.49763 rgba(33, 180, 226, 255), stop:1 rgba(144, 200, 237, 255));*/
background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(246, 248, 249, 255), stop:0.5 rgba(229, 235, 238, 255), stop:0.501 rgba(215, 222, 227, 255), stop:1 rgba(245, 247, 249, 255));
padding: 8px;
padding-left: 10px;
/*min-width: 80px;*/
font-size: 15px;
}

QMessageBox QPushButton:default {
background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(252, 234, 187, 255), stop:0.478673 rgba(252, 205, 77, 255), stop:0.49763 rgba(248, 181, 0, 255), stop:1 rgba(252, 234, 187, 255))
}

QTableView{
  background:rgb(250, 250, 255);
  alternate-background-color:rgba(20, 126, 255, 40);
color: #303030;
}
QTableView::item:selected{
  color: white;
  font-weight: bold;
  background:rgba(85, 170, 255, 255);
}

QHeaderView {
color: #303030;
}

#CtrlWidget QPushButton {
color: #303030;
}

#TaskTableWidget QLabel {
color: #303030;
}


#MainSplitter {
  background: #d5f7d4;
}

/* ================================================================================= */
/* ===                              TASK INFO DISPLAY                            === */
/* ================================================================================= */

/*QWidget#TaskInfoWidget QPlainTextEdit, QWidget#TaskInfoWidget QLineEdit,
QWidget#TaskInfoWidget QLabel, QWidget#TaskInfoWidget QDateTimeEdit {
  background: #B9FE79;
  color: black;
  border: 1px solid black;
  font-size: 15px;
  padding: 2px;
}

QWidget#TaskInfoWidget QLineEdit, QWidget#TaskInfoWidget QDateTimeEdit {
  selection-background-color: transparent;
  selection-color: black;
}

QWidget#TaskInfoWidget QLabel#labelName, QWidget#TaskInfoWidget QLabel#labelDescription,
QWidget#TaskInfoWidget QLabel#labelPomoNum, QWidget#TaskInfoWidget QLabel#labelDeadline {
  font-family: "New Century Schoolbook";
  color: black;
  font-size: 15px;
  font-weight: bold;
}

QWidget#TaskInfoWidget #infoDisplayInnerWidget {
  background: #7FD42F;
  border: 2px solid black;
}*/

/* ================================================================================= */
/* ===                                 TASK TIMER                                === */
/* ================================================================================= */

QWidget#TaskTimerWidget #TimerMainWidget {
/*  background: #aa5ecd;*/
/*  border: 1px solid black;*/
}

QWidget#TaskTimerWidget QPushButton {
/*  color: black;*/
/*  font-weight: bold;*/
/*  font-size: 10px;*/
/*  font-family: "New Century Schoolbook";*/
/*  border: 1px solid black;*/
/*  padding: 2px;*/
}

QWidget#TaskTimerWidget QPushButton:hover {
/*  background: #c08ed7;*/
}

QWidget#TaskTimerWidget QLCDNumber {
/*  color: black;*/
/*  padding: 5px;*/
/*  background: #aa5ecd;*/
/*  border: 0px;*/
}

/* ================================================================================= */
/* ===                         TASK TAB BAR & TAB WIDGET                                === */
/* ================================================================================= */


QWidget#TaskTabWidget QTabWidget::pane { /* The tab widget frame */
/*border-top: 2px solid #C2C7CB;*/
/*background: #C2C7CB;*/
}
QWidget#TaskTabWidget QTabWidget::tab-bar {
/* move to the right by x px */
/*left: 5px; */
}

/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QWidget#TaskTabWidget QTabBar::tab{
/*background:rgb(50, 153,150);*/
/*border: 1px solid rgb(52, 185, 193);*/
/*border-bottom-color: #C2C7CB; */
/*border-top-left-radius: 3px;*/
/*border-top-right-radius: 3px;*/
font-size: 16px;
min-width: 110%;
min-height: 30px;
/*margin: 2px;*/
/*color:black;*/
}

QTabBar::tab:selected#foo, QTabBar::tab:hover#foo {
background: rgb(84, 225,232);
}
QTabBar::tab:selected#foo {
border-bottom-color: #C2C7CB; /* same as pane color */
}
QWidget#TaskTabWidget QTabBar::tab:!selected {
/* make non-selected tabs look smaller */
/*margin-top: 2px; */

}

/* ================================================================================= */
/* ===                                TASK LIST                                  === */
/* ================================================================================= */

/*QScrollArea {
  border: 2px solid black;
  background: #FDFF7B;
}*/

/*#ListHeaderWidget {
  background: #0EC569;
}*/

/*#headerText {
  color: #fff;
}*/

/* QPushButton {
  font-family: "Entypo";
  font-size: 30px;
}
*/

/* TODO pozamieniaj*/
/*#NameWidget {
    border-width: 1px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: black;
}*/

/*#RestWidget QWidget, #RestWidget QLabel, #RestWidget QPushButton {
  background-color:rgb(237, 235, 196)
}*/

QProgressBar:horizontal {
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
  padding: 1px;
  text-align: right;
}

QProgressBar::chunk:horizontal {
  background: qlineargradient(spread:reflect, x1:0.00471698, y1:0.488, x2:0, y2:1, stop:0.660377 rgba(0, 208, 24, 255), stop:1 rgba(255, 255, 255, 255));
  margin-right: 2px;
  width:20px;
}

/*#ButtonWidget {
    border: 1px;
    border-left: 2px;
    border-bottom: 2px;
    border-style : solid;
}

#DeskWidget {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}*/

/* Task List */

#TagDialog QListView {
  show-decoration-selected: 1;
}

#TagDialog QListView::item:alternate {
  background: #EEEEEE;
}

#TagDialog QListView::item:selected {
  border: 1px solid #6a6ea9;
}

#TagDialog QListView::item:selected:!active {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #ABAFE5, stop: 1 #8588B2);
}

#TagDialog QListView::item:selected:active {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #6a6ea9, stop: 1 #888dd9);
}

#TagDialog QListView::item:hover {
  background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                              stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}





